@import './modules/start.css';
@import './modules/game.css';
@import './__reset.css';
@import './modules/score.css';

body{
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.send {
    width: 200px;
    height: 70px;
    background-color: aqua;
}

.errorText {
    color: red;
    font-size: 14px;
}

.startPage {
    width: 786px;
    padding: 100px 40px;
    border: 1px solid red;
}