.game {
    width: 100%;
    height: 1000px;
    background: url(../../img/moon.png) no-repeat;
    background-size: cover;
    position: inherit;
    overflow-x: hidden;
}

.game__finish {
    z-index: -1;
    filter: blur(5px);
}

.game .container {
    display: flex;
    flex-direction: column;
}

.game__title {
    font-size: 100px;
    color: white;
}

.game__mid {
    position: relative;

    padding-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 140px;
    gap: 80px;
    color: white;
}

.game__right {
    animation-name: show;
    animation-duration: 1s;
    right: 0%;
}

.game__left {
    animation-name: lefts;
    animation-duration: 1s;
    left: 0%;
}

@keyframes show {
    from {
        right: -100%;
        opacity: 0.1;
    }

    to {
        right: 0%;
        opacity: 1;
    }
}

@keyframes lefts {
    from {
        left: 0%;
        opacity: 0.2;
    }

    to {
        left: -100%;
        opacity: 1;
    }
}

/*
z-index: -1;
    filter: blur(5px); */
.game__result {
    background: none;
    border: 1px solid white;
    font-size: 140px;
    width: 200px;
    color: white;
}

.game__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    color: white;
}

.game__end-passive {
    display: none;
}

.game__end-active {
    display: flex;
}

.game__end {
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 200px;
    color: white;
    flex-direction: column;
    align-items: center;
    /* font-size: 100px; */
}

.game__window {
    padding: 50px 30px;
    background: rgba(20, 20, 20, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window__title {
    font-size: 100px;
}

.window__score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score__title {
    font-size: 60px;
}

.score__count {
    font-size: 50px;
}

.score__correct {
    font-size: 30px;
}

.score__incorrect {
    font-size: 30px;
}