.score {
    width: 100%;
    background: url(../../img/zakyat.jpg) no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.score__table {
    width: 700px;
    height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;

    margin-top: 120px;
    margin-bottom: 49px;

    padding-top: 20px;
}

.score__form {
    display: flex;
    flex-direction: row;
    gap: 100px;
}


.score__mode {
    text-align: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.score__radio {
    appearance: none;
}

.score__label {
    cursor: pointer;
    width: 200px;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.score__radio:checked+.score__label {
    border: 3px solid black;
    font-size: 22px;
}

.score__users {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    font-size: 26px;

    overflow-y: scroll;
    margin-bottom: 30px;
}

.score__users::-webkit-scrollbar {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 6px;
}

.score__users::-webkit-scrollbar-thumb {
    width: 1px;
    background-color: white;
    border-radius: 20px;
}

.score__item {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
}

@media (max-width:768px){
    .score__table{
        width: 100%;
    }
    .score__form{
        gap: 50px;
    }
    .score__title{
        font-size: 6vw;
    }
}

@media (max-width:514px){
    .score__label{
        width: 100px;
        font-size: 14px;
    }
    .score__radio:checked+.score__label{
        font-size: 14px;
    }
    .score__users{
        font-size: 18px;
    }
}