.start {
    width: 100%;
    background: url(../../img/clouds.jpg);
    height: 100%;
    max-height: 969px;
    min-height: 969px;
}

.start__title {
    padding-top: 40px;
    font-size: 100px;
}

.start__form {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__title {
    font-size: 40px;
    padding-bottom: 20px;
}

.input__container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 25px;
}

.input__container input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #54b3d6;
}

.form__name {
    position: absolute;
    font-size: 24px;
    color: rgb(49, 41, 41);
    top: 0;
    left: 0;
    margin-top: 6px;
    transition: all 0.5s ease-in-out;
}

.form__name--active {
    top: -20px;
    font-size: 16px;
}

.start__name {
    height: 40px;
    width: 400px;
    background: none;
    border: 0px;
    border-bottom: 2px solid#3c7386;
    font-size: 22px;
}

.input__container input:focus~.form__name {
    top: -20px;
    font-size: 16px;
}

.start__name:valid~.form__name {
    top: -20px;
    font-size: 16px;
    transition: none;
}

.start__mode {
    width: 460px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.start__label--active {
    border-bottom: 0;
    box-shadow: inset 230px 0 0 0 #54b3d6;
    color: white;
}

.start__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 70px;
    border-radius: 80px;
    cursor: pointer;
    font-size: 40px;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    border: 3px solid#518da1;
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #243c44;
}

.start__label:hover {
    border: 0;
    box-shadow: inset 230px 0 0 0 #54b3d6;
    color: white;
}

.start__radio {
    appearance: none;
}

.start__radio:checked+.start__label {
    border: 0;
    box-shadow: inset 230px 0 0 0 #3f86a0;
    color: white;
}

.start__game {
    font-size: 44px;
    margin-top: 20px;
    width: 460px;
    height: 90px;
    border-radius: 10px;
    text-align: center;

    cursor: pointer;
    /* color: #243c44; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3f86a0;
    transition: all .3s ease-in-out;
}

.start__game:hover {
    background: #1d6883;
}

.start__game a {
    text-decoration: none;
    color: white;
}


.start__rules {
    padding-bottom: 20px;
    margin-top: 20px;
    width: 440px;
}

.start__rules a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    width: 200px;
    border-bottom: 1px solid black;
}

@media (max-width:768px) {
    .start__title {
        font-size: 70px;
    }
}

@media (max-width:500px) {

    .start__game {
        width: 90%;
    }

    .start__mode {
        width: 90%;
    }

    .start__mode-item {
        width: 45%;
    }

    .start__label {
        width: 100%;
        font-size: 5vw;
    }

    .start__rules {
        width: 80%;
    }

    .start__game {
        font-size: 10vw;
    }

    .start__title {
        font-size: 14vw;
    }

    .start__form {
        width: 90%;
    }

    .input__container {
        width: 100%;
    }

    .start__name {
        width: 100%;
    }
}